body {
  width:900px;
  /*height:100vh;*/
  margin:0 auto;
  display:flex;
  flex-direction:column;
  background-color: eggshell;
  align-items: center;
  justify-content: space-around;

}


.popupHolder {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height:100vh;
}


.popup {
  width:400px;
  background:aqua;
  padding:15px;
  text-align: center;
  border:2px solid black;
  border-radius: 5px;
  position:absolute;
}

button {
  padding:8px;
  margin:10px;
  border-radius: 5px;
  background-color:rgba(0,0,0,0);
}

button:hover {
	border: 2px solid rgb(88, 235, 215);
  background-color:blue;
}

.letterContainer {
  display:flex;
  justify-content: space-around;
  border:2px solid black;
  flex-wrap:wrap;
  min-height: 70px;
  width:482px;
  margin:40px;
}
.letter {
  margin:3px;
  border:2px solid black;
  padding:5px;
  height:15px;
  width:15px;
  text-align:center;
}
footer {
  text-align:center;
  margin-top:30px;
}

.hangmanbox {
  height:300px;
  width:482px;
  border:1px solid black;
  margin-top:30px;
}
/*.gamespaces {
margin:15px;
width:482px;
text-align:center;
}*/
.gameletter {
  width:30px;
  border-bottom: 2px solid black;
  margin:5px;
  text-align:center;
  padding:3px;
  color: white;
}
.makevisible {
  color:black;
}

.gameLettersContainer {
  margin-top:30px;
  display:flex;
}

.gamespace {
  width:30px;
  margin:5px;
  text-align:center;
  padding:3px;
}
.hangmanContainer {
  height: 300px;
  width: 482px;
  border: 1px solid black;
}
